input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.boxButton{
  margin: 3px;
}

.boxButton2{
  margin-right: 20px;
}

.link:hover{
  color: rgb(255, 187, 86);
  font-size: 17px;
  text-decoration: underline;
}

