input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.boxButton{
  margin: 3px;
}

.boxButton2{
  margin-right: 20px;
}

.link:hover{
  color: rgb(255, 187, 86);
  font-size: 17px;
  text-decoration: underline;
}

/* .container{
  background-image: url(Imagens/shutterstock_749455387.jpg);
  background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ui-g-12{
  color: rgb(255, 255, 255);
}

label{
  color: rgb(255, 255, 255);
} */

